NET "sw<0>" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "sw<1>" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;
NET "sw<2>" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ;
NET "sw<3>" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ;
NET "pb1" LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "pb2" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "pb3" LOC = "V4" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "pb4" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "pb5" LOC = "V16" | IOSTANDARD = LVTTL | PULLDOWN ;

# clock signal for 50 MHz
NET "clk" LOC = C9 | IOSTANDARD = LVCMOS33;
NET "clk" PERIOD = 20.0ns HIGH 50%;

NET "out1<0>" LOC = "F9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "out1<1>" LOC = "E9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "out1<2>" LOC = "D11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "out1<3>" LOC = "C11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;

NET "out2<0>" LOC = "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "out2<1>" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "out2<2>" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "out2<3>" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;

